<div id="progress_bar" class="progress-wrap">
  <svg class="progress-circle" width="100%" height="100%" viewBox="0 0 120 120">
    <circle class="progress-background" cx="60" cy="60" r="54"></circle>
    <path class="progress" stroke-width="6" d="M60 10
                      a 50 50 0 0 1 0 100
                      a 50 50 0 0 1 0 -100" [style.stroke-dasharray]="circumference"
      [style.stroke-dashoffset]="offset"></path>
  </svg>
  <div class="icon" (click)="scrollPageTopMobile()">
    <img src="../../assets/images/scrollUp.png" alt="">
  </div>
</div>
