<a href="#" class="author author__details">
    <div class="author__img">
        <img src="../../../assets/images/hero.png" alt="">
    </div>
  <div class="author__content">
    <div class="author-name">
        <p>Asadbek Azamjonov</p>
            <div class="blogs__desc">
                <span class="desc-time">{{this.utilsService.getReadTime(article?.content)}}</span>
                <span class="desc-date">{{this.utilsService.getDateAndMinutes(article?.createdAt)}}</span>
            </div>
    </div>
</div>
<div class="author-socials">
    <a href="https://www.youtube.com/"><ion-icon name="logo-youtube"></ion-icon></a>
    <a href=""><ion-icon name="logo-github"></ion-icon></a>
    <a href="https://www.linkedin.com/in/asadbekazamjonov/"><ion-icon name="logo-linkedin"></ion-icon></a>
    <a href="https://t.me/asadbek_talks"><ion-icon name="logo-telegram" class="logo-telegram"></ion-icon></a>
</div>
</a>
