<!-- <a href="#" class="box box--small"> -->
    <div class="card">
        <div class="card-header">
          <img src="https://images.unsplash.com/photo-1646974005583-01e9a7b0b5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" alt="">
        </div>
        <div class="card-content">
          <span [innerHTML]="item.category"></span>
          <a class="title" href="#" [innerHTML]="item.title"></a>
          <p [innerHTML]="item.summary"></p>
        </div>
        <div class="card-footer">
          <!-- <img src="https://images.unsplash.com/photo-1646904175176-b659431e2935?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=410&q=80" alt=""> -->
          <div class="author">
            <p>Asadbek Azamjonov</p>
            <small>2h ago</small>
          </div>
        </div>
      </div>
      
<!-- </a> -->
  

  