


<div class="container">
  <div *ngFor="let article of articles" class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <a [href]="'/blog/' + article['slug']" class="card-tex two-line-ellipsis">{{article['title']}}</a>
        <div class="card-buttons mt-auto">
          <a href="" class="btn btn-outline-success btn-sm">Read More</a>
          <a href="" class="btn btn-outline-danger btn-sm ml-2"><i class="far fa-heart"></i></a>
        </div>
      </div>
    </div>
  </div> 
</div>
