$red: #F3372A;
$redDark: #D02A06;
$black: #111111;
$grayDark: #333333;
$grayRegular: #595959;
$gray: #666666;
$grayMedium: #9F9F9F;
$grayAverage: #898C94;
$grayLight: #EFEFEF;
$white: #fff;
$blue: #203765;
//$blueLight: #52A4DC;
$orange: #F68D2B;
$beige: #FEF0DB;
$orange1: #E88E3D

