html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: $grayLight;
  // min-height: 53.4vh;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

// .sticky-header {
//   position: sticky;
//   top: 7.10%;
//   z-index: 1000;
  
// }

app-scroller{
  position: sticky;
  top: 25%;
  z-index: 1000;
}


// body.side-bar-open ion-router-outlet {
//   overflow: hidden;
// }
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

@media  (min-width:1562px ) {
  // .sticky-header {
  //   top: 7.40%
  // }
}






