<a *ngFor="let blog of blogs.data" href="blog/{{blog.attributes.slug}}" class="blogs__container">
    <div class="blogs__title">{{blog.attributes.Title}}</div>
    <div class="blogs__sub-title" >{{blog.attributes.summary}}</div>
    <div class="blogs__desc-container">
    <span class="desc-date">{{this.utilService.getMonthDay(blog.attributes.createdAt)}}</span>
    <span class="desc-time">{{this.utilService.getReadTime(blog.attributes.summary)}}</span>
    <span></span>
    <div class="desc-category">
        <span>{{blog.attributes.category}}</span>
      </div>  
</div>
</a>
