<a *ngFor="let blog of blogs" href="blog/{{blog.slug}}" class="blogs__container">
    <div class="blogs__title">{{blog.title}}</div>
    <div class="blogs__sub-title" >{{blog.summary}}</div>
    <div class="blogs__desc-container">
    <span class="desc-date">{{this.utilService.getMonthDay(blog?.createdAt)}}</span>
    <span class="desc-time">{{this.utilService.getReadTime(blog?.content)}}</span>
    <div class="desc-category">
        <span>{{blog.category}}</span>                       
      </div>  
</div>
</a>
