<a href="" class="blogs__container">
    <div class="blogs__title">Be Kind, Be Kind, Be Kind Long Middl Long Middlsdas afa asfasfa asfasf afas</div>
    <div class="blogs__sub-title" >Henry James, Mr. Rogers, and the Long Middle</div>
    <div class="blogs__desc-container">
    <span class="desc-date">Sep 26</span>
    <span class="desc-date">4 min read</span>
    <span></span>
    <div class="desc-category">
        <span>Tech</span>
      </div>  
</div>
</a>


<a href="" class="blogs__container">
    <div class="blogs__title">Be Kind, jsdakbkjb jsska ajfsjsagfiug</div>
    <div class="blogs__sub-title" >Henry James, Mr. Rogers, and the Long Middle</div>
    <div class="blogs__desc-container">
    <span class="desc-date">Sep 26</span>
    <span class="desc-date">4 min read</span>
    <span></span>
    <div class="desc-category">
        <span>Tech</span>
      </div>  
</div>
</a>

<a href="" class="blogs__container">
    <div class="blogs__title">Be Kind, Be Kind, Be Kind Long Middl Long Middlsdas afa asfasfa asfasf afas</div>
    <div class="blogs__sub-title" >Henry James, Mr. Rogers, and the Long Middle</div>
    <div class="blogs__desc-container">
    <span class="desc-date">Sep 26</span>
    <span class="desc-date">4 min read</span>
    <span></span>
    <div class="desc-category">
        <span>Tech</span>
      </div>  
</div>
</a>


<a href="" class="blogs__container">
    <div class="blogs__title">Be Kind, jsdakbkjb jsska ajfsjsagfiug</div>
    <div class="blogs__sub-title" >Henry James, Mr. Rogers, and the Long Middle</div>
    <div class="blogs__desc-container">
    <span class="desc-date">Sep 26</span>
    <span class="desc-date">4 min read</span>
    <span></span>
    <div class="desc-category">
        <span>Tech</span>
      </div>  
</div>
</a>