<app-header></app-header>

<section class="container">
    <div class="header__line">Blogs</div>
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
           <div class="blogs-container">
            <app-blog-box></app-blog-box>
            <app-blog-box></app-blog-box>
            <app-blog-box></app-blog-box>
           </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <app-dicover-more-box></app-dicover-more-box>
        </div>
    </div>
</section>
<app-footer></app-footer>