<app-header></app-header>
<section class="container center--tags">
  <app-scroller></app-scroller>
  <!-- <div class="sticky-header header__line"></div> -->
  <div class="tags-container">
    <app-horizontal-category-box></app-horizontal-category-box>
  </div>

  <section class="recommended__stories">
    <div class="sticky-header header__black-line">
    </div>
    <app-blog-card-box></app-blog-card-box>
  </section>
  <app-footer></app-footer>
  <section class="mobile-app-scroller">
    <app-scroller-mobile></app-scroller-mobile>
  </section>
</section>
