<app-header class="header-tag-page"></app-header>
<section class="container center--tags">
  <app-scroller></app-scroller>
  <div class="sticky-header header__line">Blogs</div>
  <div class="tags-container">
    <app-horizontal-category-box></app-horizontal-category-box>
  </div>
  <div class="topic-container">
    <h1>JavaScript</h1>
    <p class="topic-info">Topic • 1.5M Followers • 256K Stories</p>
</div>

<div *ngIf="categoryBlogs && categoryBlogs.length > 0" class="row" id="">
  <div *ngFor="let item of categoryBlogs" class="col col-sm-12 col-md-6 col-lg-4 col-box-item">
    <app-blog-card-box [item]="item"></app-blog-card-box>
  </div>
</div>
  <app-footer></app-footer>
  <section class="mobile-app-scroller">
    <app-scroller-mobile></app-scroller-mobile>
  </section>
</section>
