<app-header></app-header>
<div class="hero_container center">
  <!-- hero section starts -->
<section class="hero_section">
    <div class="content">
        <div class="content_img">
            <img draggable="false" class="tilt" src="../../../assets/images/hero.png" alt="">
            <div class="content_text">
                <h1 class="title"> I'm Asadbek <span>Azamjonov</span></h1>
                <h3 class="desc">Software Engineer</h3>
                <div class="socials-links">
                  <a href="https://www.youtube.com/"><ion-icon name="logo-youtube"></ion-icon></a>
                  <a href="https://github.com/Asadbek01"><ion-icon name="logo-github"></ion-icon></a>
                  <a href="https://www.linkedin.com/in/asadbekazamjonov/"><ion-icon name="logo-linkedin"></ion-icon></a>
                  <a href="https://t.me/asadbek_talks"><ion-icon name="logo-telegram" class="logo-telegram"></ion-icon></a>
                </div>
         </div>
        </div>
        <div class="detail">
            <p>I write about non-technical stuff in the technical world</p>
            <div class="btns-wrapper">
                <a href="#about" type="button" class="btn btn-primary mr-3"><span>Read Blog</span></a>
                <a href="#about" type="button" class="btn btn-outline-primary"><span>About Me</span></a>
            </div>
        </div>
</div>


</section>
<!-- hero section ends -->
</div>
<app-footer></app-footer>