.blogs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   
    &__title {
        color: rgb(36, 36, 36);
        letter-spacing: 0px;
        font-size: 20px;
        font-weight: 700;
        max-height: 48px;
        line-height: 24px;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__sub-title {
        margin: 0;
        padding-top: 4px;
        max-height: 40px;
        font-size: 16px;
        font-weight: 400;
        color: rgb(107, 107, 107);
        line-height: 20px;
    }

    &__desc-container {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-top: 8px;
        margin-bottom: 48px;
        font-size: 13px;
        font-weight: 400;
        color: rgb(107, 107, 107);

        // justify-content: space-between;
        >span:not(:first-child) {
            position: relative;

            // Add two dots between spans
            &::before {
                content: '·';
                color: #000;
                margin: 0 6px 0 4px;
            }
        }

        .desc-category {
            background-color: rgb(211, 208, 208);
            border: 1px solid rgb(242, 242, 242);
            border-radius: 100px;

            span {
                padding: 8px 16px;
                white-space: nowrap;
            }
        }
    }

    &__container:hover {
        text-decoration: none;
    }
}
.center--blogs{
    margin-top: 25px;
}

.scroller-container {
    position: absolute;
    left: 88vw;
  
    .icon1 {
        margin-top: 80px;
        // margin-right: 150px;
    }
  
    .icon2 {
        margin-top: 250px;
        // margin-right: 150px;
  
    }
  
    img:hover {
        cursor: pointer;
        filter: brightness(0.9) drop-shadow(3px 3px 3px rgb(206, 206, 206)) !important;
    }
  
  }
  
  @media (max-width: 1555px) {
    .scroller-container {
        display: none;
    }
  
  }
  
  #scroller_down {
    rotate: 180deg;
  }
  
  .mobile-app-scroller {
    position: sticky;
    z-index: 9999;
    bottom: 30px;
  
    .progress-wrap {
        position: absolute;
        bottom: 30px;
        right: 7%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 9999;
  
        .progress-circle {
            .progress-background {
                fill: none;
                stroke: #ccc;
                stroke-width: 3
            }
  
            .progress {
                fill: none;
                stroke: #F68D2B;
                stroke-width: 10;
            }
        }
  
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            opacity: 0.8;
            transition: all 0.2s ease-in-out;
  
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
  
    }
  }
  
  @media (min-width: 600px) {
     .mobile-app-scroller{
        display: none;
    }
}