.header {
    color: $white;
    padding: 20px 0;
    position: relative;
    z-index: 10;
    max-height: 72px;
    // margin-top: 2em;


    // @include mq(sm) {
    //     padding: 15px 0;
    // }

    &__container {
        position: sticky;
        padding: 0 21px 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;

        // @include mq(md) {
        //     padding: 0 15px;
        // }

        @media screen and (min-width: 1210px) {
            padding: 0;
            // margin-top: -4px
        }
        >a:hover{
            text-decoration: none;
            color: #162232;
           }
    }

    &__name {
        color: #162232;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0;
        text-decoration: none;
        span{
            // color: #e88e3d
        }
    }

    @media (max-width: 580px) {
        .mobile-link {
            display: flex;
            width: 117px;
            margin-top: 20px;
            flex-direction: column;

            .header__link--mobile {
                font-size: 13px;
                letter-spacing: 0.01em;
                color: #9f9f9f;
                font-weight: 400;
                font-family: 'Fira Sans Condensed', sans-serif;
                text-decoration: none;
                display: inline-block;
                padding: 6px 15px;
                vertical-align: bottom;
            }
        }
    }

    &__menu {
        margin-left: auto;
        @media (max-width: 580px) {
            position: fixed;
            top: 12%;
            right: 0;
            background-color: #EFEFEF;
            width: 100vw;
            height: 0;
            overflow: hidden;
            transition: height 200ms linear;
            display: flex;
        }

        &--active {
            overflow-y: hidden;

            @media (max-width: 580px) {
                position: absolute;
                top: 100%;
                width: 100%;
            }
        }
    }

    &__nav {

        display: inline-flex;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: 580px) {   
            flex-direction: column;
            width: 100%;
        }

        @media (max-width: 580px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 32px 0;
            gap: 8px;
        }
        >a:hover{
            text-decoration: none;
            color: #162232;
           }
    }

    &__link {
        font-size: 16px;
        letter-spacing: 0.01em;
        color: $white;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        padding: 6px 15px;
        vertical-align: bottom;
        color: #000;
        opacity: .5;
        transition: .3s opacity ease;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }

    }

    &__hamburgerButton {
        width: 24px;
        height: 24px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        display: none;
        //float: right;
        z-index: 10;
        margin-left: 20px;

        @media (max-width: 580px) {
            display: inline-block;
            &--open {
                border-top: 1px solid #cecece;
                // border-radius: 0 0 32px 32px;
                // border-radius: 0px;
                background: #EFEFEF;
                box-shadow: 0 3px 8px 0 rgba(0,0,0,.05);
                height: 200px;
            }
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $black;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 3px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 10px;
            }

            &:nth-child(4) {
                top: 17px;
            }
        }

        &--active {
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 0;
                    left: 50%;
                }
            }
        }
    }
    &__line{
            margin: 0;
            padding: 12px 0 25px;
            border-top: 1px solid #BCBCBC;
            color: #e88e3d;
            font-size: 1.35rem;
            line-height: 1.25rem;
            font-weight: 600;
            letter-spacing: 0.04rem;
            // text-transform: uppercase;
    }
}

