<div class="discover__container">
    <p class="text">Discover more of what matters to you</p>
    <div class="discover__topics">
        <div class="topic">
            <a href="#">Programming</a>
        </div>
        <div class="topic">
            <a href="#">Data Science</a>
        </div>
        <div class="topic">
            <a href="#">Tech</a>
        </div>
        <div class="topic">
            <a href="#">Music</a>
        </div>
        <div class="topic">
            <a href="#">Programming</a>
        </div>
        <div class="topic">
            <a href="#">Programming</a>
        </div>
        <div class="topic">
            <a href="#">Programming</a>
        </div>
        <div class="topic">
            <a href="#">Book</a>
        </div>
        <div class="topic">
            <a href="#">Programming</a>
        </div>

    </div>
</div>
