/*
 * App Global CSS
 * ----------------------------------------------------------------------------
*/
/* Import highlight.js theme */
@import '~highlight.js/styles/default.css';

.ion-page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // overflow: auto;
  display: flex;
  // min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  // contain: layout size style;
  color: #111111;
  z-index: 0;

}



.hydrated {
  overflow: auto;
  overflow-x: hidden;
}

/* Change the color of the track (the area where the scrollbar is) */
.hydrated::-webkit-scrollbar {
  width: 5px; 
}

/* Change the color of the thumb (the draggable part of the scrollbar) */
.hydrated::-webkit-scrollbar-thumb {
  background-color: #EFEFEF; 
  border-radius: 6px; 
}

/* Change the color of the track on hover */
.hydrated::-webkit-scrollbar-thumb:hover {
  background-color: #e88e3d
}

app-header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f5f6f8;
  pointer-events: none;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.05);
  z-index: -1;
  opacity: 0;
  transition: .3s all ease;

}

.show-bg:before {
  opacity: 1;
}

html,
body {
  background-color: #EFEFEF;

}

@import "theme/main.scss";
